@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #613b6f;
}

#header{
    text-align: center;
    background-color: #8DAC50;
    color: #FbFbFb;
    border: 3px solid black;
    font-family: 'Poppins', sans-serif;
}

.tulisangerak{
    font-size: larger;
    color: #FbFbFb;
    background-color: #A89EA8;
    border: 3px solid black;
    font-family: 'Poppins', sans-serif;
}

audio{
    margin-top: 20px;
}

button{
    margin-top: 50px;
    padding: 15px 30px;
    margin-bottom: 30px;
    border-radius: 100px;
    color: #8DAC50;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

button:hover{
    color: #8DAC50;
    background-color: black
}

.daftarsiswa {
    border: 3px solid black;
    margin-bottom: 30px;
    background-color: #8DAC50;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    height: 360px;
}

.daftarsiswa ul li{
    color: #FbFbFb ;
    text-align: left;
}

.tabelpelajaran{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 40px;
    border-color: #613b6f ;
    color: #FbFbFb;
    background-color: #A89EA8;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

#siswa div{
    border: 3px solid black ;
    display: inline-block;
    width: 260px;
    margin: 20px;
    
}

#siswa h3{
    text-align: center;
    color: #FbFbFb;
}

.jaket{
    border: 3px solid black;
    margin-bottom: 30px;
    background-color: #A89EA8;
    color: #FbFbFb;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    height: 430px;
}

.jadwalpiket div{
    border: 3px solid black;
    display: inline-block;
    width: 220px;
    margin: 20px;
}

.jadwalpiket h3{
    text-align: center;
}

.jadwalpiket ol li{
    text-align: left;
}

.vidlebaran h3{
    text-align: center;
}

.fotolebaran h3{
    text-align: center;
}

video{
    width: 90%;
    height: 350px;
    margin-top: 30px;
}

.vidbar {
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 30px;
    color: #FbFbFb;
    background-color: #8DAC50;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    height: 610px;
}

.vidlebaran div{
    display: inline-block;
    border: 3px solid black;
    margin: 20px;
}

.fotbar {
    border: 3px solid black;
    color: #FbFbFb;
    background-color: #A89EA8;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    height: 630px;
}

img{
    width: 90%;
    height: 350px;
    margin-top: 50px;
}

.fotolebaran div{
    display: inline-block;
    border: 3px solid black;
    margin: 20px;
}

hr{
    border: 1px solid;
}



/*Tablet*/
@media screen and (min-width:768px) and (max-width:1250px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    #header{
        font-size: small;
    }
    audio{
        width: 250px;
        height: 50px;
    }
    #siswa div{
        font-size: small;
    }
    button{
        font-size: small;
        padding: 10px 20px;
    }
    .tabelpelajaran{
        font-size: small;
    }
    .daftarsiswa{
        font-size: small;
        height: auto;
    }
    #siswa div{
        width: 200px;
    }
    .jaket{
        font-size: small;
        height: auto;
    }
    .jadwalpiket div{
        width: 200px;
    }
    video{
        height: 280px;
    }
    .vidbar{
        font-size: small;
        height: auto;
    }
    img{
        height: 280px;
    }
    .fotbar{
        font-size: small;
        height: auto;
    }
}





/*Mobile*/
@media screen and (max-width:767px) and (min-width:375px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    audio{
        width: 200px;
        height: 40px;
    }
    #header{
        font-size: x-small;
    }
    .tulisangerak{
        font-size: small;
    }
    button{
        font-size: smaller;
        padding: 10px 10px;
    }
    .tabelpelajaran{
        overflow-y:hidden;
        font-size: small;
    }
    .daftarsiswa{
        font-size: smaller;
        height: auto;
    }
    #siswa div{
        width: 220px;
    }
    .jaket{
        font-size: smaller;
        height: auto;
    }
    .jadwalpiket div{
        width: 200px;
    }
    .vidbar{
        height: auto;
        font-size: smaller;
    }
    .fotbar{
        height: auto;
        font-size: smaller;
    }
    video{
        height: 160px;
    }
    img{
        height: 173px;
    }
}
